<div class="container" style="margin-top: 4em;">
  <div class="row">
    <div class="col-sm speaker">
      <a title="speakers"></a>
      <h2 class="h2 bg-info">IMES Co&#x2011;Chairs</h2>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm speaker">
      <%= image_tag "kara-spiller.png", class: "headshot" %>
      <h3>Kara Spiller</h3>
      <p><strong>Drexel University</strong> <br>BIOMED</p>
      <%= link_to "View Website »", "https://drexel.edu/biomed/faculty/core/spillerkara/", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
    <div class="col-sm speaker">  
      <%= image_tag "chris-rodell.png", class: "headshot" %>
      <h3>Chris Rodell</h3>
      <p><strong>Drexel University</strong> <br>BIOMED</p>
      <%= link_to "View Website »", "https://drexel.edu/biomed/faculty/core/RodellChristopher/", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
    <div class="col-sm speaker">  
      <%= image_tag "yinghui-zhong.png", class: "headshot" %>
      <h3>Yinghui Zhong</h3>
      <p><strong>Drexel University</strong> <br>BIOMED</p>
      <%= link_to "View Website »", "https://drexel.edu/biomed/faculty/core/ZhongYinghui/", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
  </div>
  <div class="row">
    <div class="col-sm speaker">
      <%= image_tag "michele-kutzler.png", class: "headshot" %>
      <h3>Michele Kutzler</h3>
      <p><strong>Drexel University</strong> <br>College of Medicine</p>
      <%= link_to "View Website »", "https://drexel.edu/medicine/faculty/profiles/michele-kutzler/", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
    <div class="col-sm speaker">  
      <%= image_tag "hao-cheng.png", class: "headshot" %>
      <h3>Hao Cheng</h3>
      <p><strong>Drexel University</strong><br>College of Engineering</p>
      <%= link_to "View Website »", "https://drexel.edu/engineering/about/faculty-staff/C/cheng-hao/", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
  </div>
</div>