<div class="container" style="margin-top: 4em;">
  <div class="row">
    <div class="col-sm speaker">
      <h2>Conference Co-Chairs</h2>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 2em;">
  <div class="row">
    <div class="col-lg-4 speaker">
      <%= image_tag "kara-spiller.png", class: "headshot" %>
      <h3>Kara Spiller</h3>
      <p>Drexel University</p>
      <%= link_to "View Bio »", "https://drexel.edu/biomed/faculty/core/spillerkara/", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
    <div class="col-lg-4 speaker">  
      <%= image_tag "chris-rodell.png", class: "headshot" %>
      <h3>Chris Rodell</h3>
      <p>Drexel University</p>
      <%= link_to "View Bio »", "https://drexel.edu/biomed/faculty/core/RodellChristopher/", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
    <div class="col-lg-4 speaker">  
      <%= image_tag "yinghui-zhong.png", class: "headshot" %>
      <h3>Yinghui Zhong</h3>
      <p>Drexel University</p>
      <%= link_to "View Bio »", "https://drexel.edu/biomed/faculty/core/ZhongYinghui/", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
  </div>
<div class="container" style="margin-top: 4em;">
  <div class="row">
    <div class="col-sm speaker">
      <h2>Speakers</h2>
    </div>
  </div>
</div>
<div class="container" style="margin-top: 2em;">
  <div class="row" style="margin-top: 2em;">
    <div class="col-lg-4 speaker">  
      <%= image_tag "kaitlyn-sadtler.png", class: "headshot" %>
      <h3>Kaitlyn Sadtler</h3>
      <p><small>Earl Stadtman Investigator, <br>Chief of the Section for Immune-Engineering, <br>National Institute of Biomedical Imaging and Bioengineering, <br>National Institutes of Health</small></p>
    </div>
    <div class="col-lg-4 speaker">  
      <%= image_tag "dora-mitchell.png", class: "headshot" %>
      <h3>Dora Mitchell</h3>
      <p>Carisma Therapeutics</p>
      <%= link_to "View Bio »", "https://carismatx.com/about/#leadership", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
    <div class="col-lg-4 speaker">
      <%= image_tag "susan-thomas.png", class: "headshot" %>
      <h3>Susan Thomas</h3>
      <p>Georgia Institute of Technology</p>
      <%= link_to "View Bio »", "https://petitinstitute.gatech.edu/susan-thomas", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
  </div>
  <div class="row" style="margin-top: 2em;">
    <div class="col-lg-4 speaker">  
      <%= image_tag "cherie-stabler.png", class: "headshot" %>
      <h3>Cherie Stabler</h3>
      <p>University of Florida</p>
      <%= link_to "View Bio »", "https://www.bme.ufl.edu/dept-member/stabler_cherie/", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
    <div class="col-lg-4 speaker">  
      <%= image_tag "edward-botchwey.png", class: "headshot" %>
      <h3>Edward Botchwey</h3>
      <p>Georgia Institute of Technology</p>
      <%= link_to "View Bio »", "https://bme.gatech.edu/bme/faculty/Edward-Botchwey", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
    <div class="col-lg-4 speaker">  
      <%= image_tag "joel-collier.png", class: "headshot" %>
      <h3>Joel Collier</h3>
      <p>Duke University</p>
      <%= link_to "View Bio »", "https://bme.duke.edu/faculty/joel-collier", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
  </div>
  <div class="row" style="margin-top: 2em;">
    <div class="col-lg-4 speaker">  
      <%= image_tag "jordan-green.png", class: "headshot" %>
      <h3>Jordan Green</h3>
      <p>Johns Hopkins University</p>
      <%= link_to "View Bio »", "https://www.bme.jhu.edu/faculty_staff/jordan-j-green-phd/", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
    <div class="col-lg-4 speaker">  
      <%= image_tag "chris-jewell.png", class: "headshot" %>
      <h3>Chris Jewell</h3>
      <p>University of Maryland</p>
      <%= link_to "View Bio »", "http://jewell.umd.edu/", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
    <div class="col-lg-4 speaker">  
      <%= image_tag "chris-rodell.png", class: "headshot" %>
      <h3>Chris Rodell</h3>
      <p>Drexel University</p>
      <%= link_to "View Bio »", "https://drexel.edu/biomed/faculty/core/RodellChristopher/", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
  </div>
  <div class="row" style="margin-top: 2em;">
    <div class="col-lg-4 speaker">  
      <%= image_tag "jamal-lewis.png", class: "headshot" %>
      <h3>Jamal Lewis </h3>
      <p>University of California, Davis</p>
      <%= link_to "View Bio »", "https://bme.ucdavis.edu/people/jamal-lewis", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
    <div class="col-lg-4 speaker">  
      <%= image_tag "matthew-wolf.png", class: "headshot" %>
      <h3>Matthew Wolf</h3>
      <p>Johns Hopkins University</p>
      <%= link_to "View Bio »", "http://jlab.johnshopkins.edu/?page_id=6", class: "btn btn-secondary btn-sm", role: "button" %>
    </div>
    <div class="col-lg-4 speaker"></div>
  </div>
</div>