<div class="container btn btn-outline-info" style="margin-top: 4em;">
  <div class="row">
    <div class="col">
      <br>
      <h2 class="h2 bg-info" id="sponsors">Sponsors</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-sm">
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        <a href="https://www.nibib.nih.gov" style="width: 300px;">
          <%= image_tag "NIH_NIBIB_Vertical_Logo_2Color.png", class: "m-4", style: "width: 150px; height: auto;" %>
        </a>
        
        <a href="https://www.mallinckrodt.com">
          <%= image_tag "Mallinckrodt.png", class: "m-4", style: "width: 200px; height: auto;" %>
        </a>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-wrap">

        <a href="https://www.integralife.com">
        <%= image_tag "Integra-Foundation-Logo.png", class: "m-4", style: "width: 200px; height: auto;" %>
        </a>
        <a href="https://www.jdrf.org/">
        <%= image_tag "JDRF.png", class: "m-4",style: "width: 200px; height: auto;" %>
        </a>

      </div>
      <div class="d-flex justify-content-center align-items-center flex-wrap">
        
        <a href="https://drexel.edu/biomed/">
          <%= image_tag "Biomed_ThreeLine.png", class: "m-4", style: "width: 250px; height: auto;" %>
        </a>

        <a href="https://drexel.edu/coulter/">
          <%= image_tag "Coulter-DrexelTranslationalResearchPartnershipProgram.png", class: "m-4", style: "width: 200px; height: auto;" %>
        </a>
      </div>
      <div class="d-flex justify-content-center align-items-center flex-wrap">

        <a href="https://drexel.edu/medicine/">
          <%= image_tag "COMprimary81.png", class: "m-4", style: "width: 200px; height: auto;" %>
        </a>


        <a href="https://drexel.edu/engineering/">
          <%= image_tag "engineering-blue-black-primary-png.png", class: "m-4", style: "width: 200px; height: auto;" %>
        </a>
      </div>
    </div>
  </div>
      <br>
      <br>
  
</div>